<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="indra logo "
    src="https://www.indracompany.com/sites/all/themes/custom/indracompany_bs/logo.png" />
  <div class="spacer"></div>
</div>

<div class=" justify-content-center" role="main">
  <div class="row">

    <div class="col-lg-6 p-5">
      <div class="row">
        <div class="col-12">
          <div class="loginContainer">
            <div class="row">
              <div class="col-12 text-center">
                <h2>BIENVENIDO A INDRA COMPANY</h2>
              </div>
            </div>
            <div class="row m-3">
              <div class="col-12">
                <input type="number" class="form-control" id="num1"  [(ngModel)]="num1" name="num1"  placeholder="Ingrese número 1"
                 autocomplete="off">
              </div>
            </div>
            <div class="row m-3">
              <div class="col-12">
                <input type="number" class="form-control" id="num2" name="num2" [(ngModel)]="num2"  placeholder="Ingresa número 2" maxlength="50"
                  autocomplete="off">
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <button type="button" class="btn btn-primary"  id="btn-modal-otp" (click)="registrar()">Multiplicar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 p-5">
      <div class="justify-content-center">
        <button type="button" class="btn btn-danger" (click)="deleteReg(0)">Eliminar</button>
        <hr>
        <table class="table table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Número 1</th>
              <th scope="col">Número 2</th>
              <th scope="col">Resultado</th>
              <th scope="col">Fecha</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listado">
              <th scope="row">{{data.id}}</th>
              <td class="text-right">{{data.num1 | number}}</td>
              <td>{{data.num2  | number}}</td>
              <td>={{data.res  | number}}</td>
              <td>{{data.fecha | date:'dd/MM/yyyy'}}</td>
              <td><button type="button" class="btn btn-danger" (click)="deleteReg(data.id)">Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
